.slots-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .slot {
    width: 100px;
    height: 50px;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
  }
  
  .occupied {
    background-color: red;
    color: white;
  }
  
  .available {
    background-color: green;
    color: white;
  }
  